@import "tailwindcss";

@theme {
  --font-jakarta-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --animate-fade-in-down: fade-in-down 0.8s ease-out forwards;
  --animate-pulse-slow: pulse-slow 4s ease-in-out infinite;

  @keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes pulse-slow {

    0%,
    100% {
      opacity: 0.6;
      transform: scale(1);
    }

    50% {
      opacity: 0.8;
      transform: scale(1.05);
    }
  }
}